<h1>My friends</h1>


<% friends.forEach(function(friend) { %>
    <li>
        <%= friend %>
    </li>
<% }) %>

</br>
</br>

<form action="/addfriend" method="POST">
    <input name="newfriend" type="text" placeholder="name">
    <button>New Friend</button>

</form>