    <% include header %>



<h1>You fell in love with: <%= thingVar %> </h1>

<% if(thingVar.toLowerCase() === "josefine") { %>
    <p>Good Luck! Josefine has two faces.</p>
<% } else { %>
    <p> Which choice you have made, it´s a better choice.</p>
<% } %>

<p>P.S. this is the love.ejs file</p>


<%= %> <html>

<% %> <javascript>





    <% include footer %> 